<% if !@utauloid_showcase.blank? %>
	<%= render 'utauloids/partials/showcase', utau: @utauloid_showcase %>
<% end %>
<div class="list">
	<%= render 'utauloids/partials/search' %>
	<div class="grid">
		<% if !@utauloids.blank? %>
			<% @utauloids.each do |utauloid| %>
				<%= render 'utauloids/partials/list_item', utau: utauloid %>
			<% end %>
		<% end %>
	</div>
</div>