<% flash.each do |key, value| %>
  <% key = "info" if key == "notice" || key == :notice %>
  <% key = "danger" if key == "error" || key == :error %>
  <% key = "danger" if key == "alert" || key == :alert %>
  <% key = "info" if key == "info" || key == :info %>

  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>