<div class="utauloid-list">
	<%= render 'utauloids/partials/search' %>
	<div class="utauloid-list-title">
		<h2><%= t('all_utauloids') %></h2>
	</div>
	<div class="utauloid-list-grid">
		<div class="utauloid-list-grid-top">
		</div>
		<%= render 'utauloids/partials/list', utauloids: @utauloids %>
	</div>
</div>