<div class="utauloid-show">
	<%= render 'utauloids/partials/showcase', utau: @utauloid, on_homepage: false; %>

	
	<div class="">
		<h2><%= t('comments') %></h2>
			<div id="comments_list">
			<% if !@comments.blank? %>
				<% @comments.each do |c| %>
					<% if !c.message.blank? %>
						<%= render partial: "utauloid_comments/partials/list_item", locals: { comment: c } %>
					<% end %>
				<% end %>
			<% end %>
			</div>
			<% if current_user %>
				<%= render partial: "utauloid_comments/partials/new" %>
			<% end %>
		</div>
	</div>
</div>