<div class="row">
	<% if !@utauloids.blank? %>
		<% @utauloids.each do |utauloid| %>
			<%= render 'utauloids/partials/list_item', utau: utauloid %>
		<% end %>
	<% else %>
		<%= render 'utauloids/partials/search_not_found' %>
	<% end %>
</div>