<div class="search">
	<% if params[:controller] == 'homepage' %>
		<%= form_tag utauloids_path, :method => 'get', class: "form-horizontal", id: "search-form" do %>
			<%= render 'utauloids/partials/search_content' %>
		<% end %>
	<% else %>
		<%= form_tag utauloids_path, :method => 'get', remote: true, class: "form-horizontal", id: "search-form" do %>
			<%= render 'utauloids/partials/search_content' %>
		<% end %>
	<% end %>
</div>