<div class="comment-item-top">
	<span class="comment-user"><%= link_to comment.user.nickname, comment.user %></span>
	<%= link_to "Edit", edit_utauloid_comment_path(comment), remote: true, class: 'comment-edit', id: "edit_comment_#{comment.id}" unless !current_user || current_user.id != comment.user_id %>
</div>
<span class="comment-date"><%= comment.created_at.strftime("%F, at %H:%M") %></span>
<p><%= comment.message %></p>