@import "bootstrap-sprockets";
@import "bootstrap";

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300);
$transition: all 0.15s ease-in-out 0s;
$black: #000000;
$dark-grey: #333333;
$white: #eeeeee;
$bright-pink: #ff40ff;
$pink-light: #f7e2fd;
$pink: #e589f9;
$blue-light: #e8e8f8;

body {
	background-color: $blue-light;
	font-family: Lato, sans-serif;
}

.clearfix {
	
}

.none {
	display: none;
}

a {
	transition: $transition;
}

.bright-pink {
	color: $bright-pink;
}

header {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 20px;
	background: rgba(0,0,0,0) url("/assets/menu-bg.png") repeat-x scroll 0 0;
	background-size: auto 100%;
	box-shadow: $pink 0 1px 10px;
}

header .account-container {

}

header .account-container .form-group {
	text-align: right;
}

body {
		background-image: url("/assets/body-bg.jpg");
}

.main-menu ul {
	color: $white !important;
}

header a {
	color: $white !important;
}

header a:hover, header a:active, header a:focus {
	color: $pink !important;
	text-decoration: none;
	background-color: rgba(0,0,0,0) !important;
}

.main-menu li {
	padding: 15px 0;
	font-size: large;
}

header .dropdown {
	text-align: right;
}

header .dropdown > a {
	display: inline-block;
	padding: 15px 0;
	font-size: large;
}

header .dropdown-menu {
	padding: 20px 0;
	background-color: rgba(68, 68, 68, 0.9);
	color: $white !important;
}

header .dropdown-menu.login {
	width: 250px;
	padding: 20px;
}

header .dropdown-menu.login .btn {
	float: right;
}

header .dropdown-menu a {
	display: block;
	font-size: medium;
}

header .dropdown-menu a:not(:last-child) {
	color: $white;
	margin-bottom: 20px;
}

header .dropdown-menu a:hover, header .dropdown-menu a:active, header .dropdown-menu a:focus {
	color: $pink;
}

header .dropdown-menu input.form-control:first-child {
	margin-bottom: 10px;
}

header .dropdown-menu .btn {
	padding: 5px 10px;
}

.main-container {
	margin-top: 100px;
}

.showcase {
	margin-bottom: 50px;
}

.showcase-container {
	background-color: #ffffff;
	box-shadow: 4px 4px 4px #ccc;
}

.showcase .row-content {
	border-bottom: 1px solid #888;
}

.showcase-top {
  height: 50px;
  padding-top: 15px;
  border-top: 4px solid $bright-pink;
	background-color: #888;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.showcase-left, .showcase-right {
	height:100%;
}

.showcase-left {
	border-left: 1px solid #888;
}

.showcase-left .img-responsive {
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.showcase-right {
	padding-top: 20px;
	border-right: 1px solid #888;
}

.showcase-right h3 {
	margin-bottom: 30px;
	font-size: x-large;
}

.showcase-right p {
	margin-bottom: 10px;
}

.showcase-right .showcase-audio {
	margin-top: 20px;
	margin-bottom: 20px;
}

.list {

}

.search {
	background-color: #ffffff;
	padding: 20px;
}

.search input[type=checkbox] {
	display: none;
}

.search-top {
  height: 80px;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
}

.search .form-characteristics {
	text-align: center;
}

.search .form-group-top .form-row {
	margin-bottom: 20px;
}

.search .form-group-left .row,
.search .form-group-right .row {
	margin-bottom: 10px;
}

.search .form-group-top label.main-label {
	margin-bottom: 5px;
}

.search .form-group-left label.main-label,
.search .form-group-right label.main-label {
	margin-top: 7px;
	margin-bottom: 5px;
}

.search .form-group-left .row > div {
	display: inline-block;
}

.search .btn:not(.btn-primary) {
	margin-bottom: 5px;
}

.search .btn-primary {
	clear: both;
	display: block;
	margin-top: 20px;
 	padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
	.main-menu li, .menu-xs-button {
		display: block;
		text-align: center;
	}

	.main-menu li {
		padding: 0;
	}

	.menu-xs-button {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	header .visible-xs, header .dropdown {
		text-align: center;
	}

	header .dropdown-menu {
		left: 0;
		right: 0;
	}

	header .dropdown-menu.account, header .dropdown-menu.login {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	header .dropdown-menu.account {
		width: 200px;
	}

	header .dropdown-menu.account img {
		margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	}

	.showcase-left {
		border-right: 1px solid #888;
		max-height: 300px;
	}

	.showcase-left .img-responsive {
		max-height: 300px;
	}

	.showcase-right {
		border-left: 1px solid #888;
		text-align: center;
	}

	.search .form-group-bottom label {
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

@media (min-width: 769px) {
	header .dropdown-menu.account {
		min-width: 300px;
	}

	header ul {
		text-align: left;
	}

	.main-menu li {
		display: inline-block;
	}

	.main-menu li:not(:last-child) {
		padding-right: 20px;
	}

	header .dropdown-menu {
		left: auto;
		right: 0;
	}

	.showcase .row-content {
		height: 300px;
	}

	.search .form-group-left {
		border-right: 1px solid #eee;
	}
}