@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap3-switch";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

$border-gray: #e9e8ed;
$text-color: #516981;
$text-color-dark: #385169;
$text-color-light: #a4afba;
$green: #00bc9c;
$green-border: #00b395;
$green-hover: #01a98c;
$green-hover-border: #01a387;
$text-montserrat-default-letter-spacing: -0.5px;

@mixin border-gray-bottom($size) {
	border-bottom: $size $border-gray solid;
}

@mixin border-gray-top($size) {
	border-top: $size $border-gray solid;
}

.btn,
a.btn,
input {
	font-family: "Montserrat";
	border-radius: 2px !important;
	text-transform: uppercase !important;
}

.btn-white,
.btn-white:visited,
.btn-white:active,
.btn-white:hover,
a.btn-white,
a.btn-white:visited,
a.btn-white:active,
a.btn-white:hover {
	color: white !important;
}

.btn-success {
	background-color: $green;
	border-color: $green-border;
}

.btn-success:hover {
	background-color: $green-hover;
	border-color: $green-hover-border;
}

.form-control:focus {
	border-color: $green;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset 0 0 8px rgba(0, 188, 156, 0.6);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.flex-row > .flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.img-circle-container {
	border-radius: 50%;
	overflow: hidden;
}

.img-circle-container > img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

@import "reset";
@import "header";