@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap3-switch";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import "font-awesome";

@import "reset";

$border-gray: #e9e8ed;
$border-white: rgba(255, 255, 255, 0.5);
$background-green: rgba(0, 188, 166, 0.7);
$text-color: #516981;
$text-color-dark: #385169;
$text-color-light: #a4afba;
$text-blue-light: #a3b1bf;
$blue: #2f4052;
$blue-dark: #293646;
$green: #00bc9c;
$green-border: #00b395;
$green-hover: #01a98c;
$green-hover-border: #01a387;
$text-montserrat-default-letter-spacing: -0.5px;

@mixin border-bottom($size, $color) {
	border-bottom: $size $color solid;
}

@mixin border-top($size, $color) {
	border-top: $size $color solid;
}

@mixin border-right($size, $color) {
	border-right: $size $color solid;
}

@mixin border-left($size, $color) {
	border-left: $size $color solid;
}

.btn,
a.btn,
input {
	font-family: "Montserrat";
	border-radius: 2px !important;
	text-transform: uppercase !important;
}

a:not(.btn),
a:not(.btn):hover,
a:not(.btn):active,
a:not(.btn):active:hover,
a:not(.btn):active:focus,
a:not(.btn):focus {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all 0.2s ease 0s;
}

.btn-white,
.btn-white:hover,
.btn-white:active,
.btn-white:active:hover,
.btn-white:active:focus,
.btn-white:focus,
a.btn-white,
a.btn-white:hover,
a.btn-white:active,
a.btn-white:active:hover,
a.btn-white:active:focus,
a.btn-white:focus {
	color: white !important;
}

.btn-success {
	background-color: $green;
	border-color: $green-border;
}

.btn-success:hover,
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:focus {
	background-color: $green-hover;
	border-color: $green-hover-border;
}

.btn-default {
	color: $text-color;
}

.btn-default:hover,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:focus {
	background-color: $text-color;
	color: white;
	border-color: $text-color-dark;
}

.form-control:focus {
	border-color: $green;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset 0 0 8px rgba(0, 188, 156, 0.6);
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.flex-row > .flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-horizontal-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-horizontal-center-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-horizontal-space-between-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.flex-left-wrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.flex-left-nowrap {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.img-circle-container {
	border-radius: 50%;
	overflow: hidden;
}

.img-circle-container > img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

.main-container {
	margin-bottom: 60px;
}

.flashes {
	margin: 20px;
}

@import "devise";
@import "header";
@import "footer";
@import "showcase";
@import "search_form";
@import "grid";
@import "utauloids";
@import "voice_banks";