.voicebank-new,
.voicebank-edit {
	padding-top: 40px;
}

.new_voice_bank,
.edit_voice_bank {
	margin-bottom: 40px;
}

.voicebank-new-form-label,
.voicebank-edit-form-label {
	margin-bottom: 10px;
	font-family: "Montserrat";
	color: $text-color;
	text-transform: uppercase;
}
